@CHARSET "UTF-8";

/* --------------------
 * @Layout
 */

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#title {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;    
  left: 0px;
  width: 100%;
  height: 40px;
  overflow: hidden;
}

#list {    
  padding: 0;
  margin: 0;
  position: absolute;    
  top: 40px;
  left: 0px;
  bottom: 0px;
  overflow: auto;    
  width: 200px;    
  _height:expression(document.body.clientHeight-40);
}

#log {
  padding: 0;
  margin: 0;
  position: absolute;    
  top: 40px;
  left: 200px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  _height:expression(document.body.clientHeight-40);
  _width:expression(document.body.clientWidth-200);
}



/* --------------------
 * @Decorations and colors
 */
* {
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande", Helvetica, sans-serif;
}

li {
	list-style: none;
}

/* hiding subtitles */
h2 {
	display: none;
}

/* title section */
div#title {
	padding: 0em 0.5em;
}

div#title h1 {
	font-size: 1.5em;
	float: left;
}

div#title ul li {
	float: left;
	padding: 0.5em 0em 0.5em 0.75em;
}

div#title p {
	float:right;
	margin-right:1em;
}

/* spec container */
ul.specs {
	margin: 0.5em;
}
ul.specs li {
	margin-bottom: 0.1em;
}

#list ul.specs li {
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	margin: 0.2em 0em;
}

/* spec title */
ul.specs li h3 {
	font-weight: bold;
	font-size: 0.75em;
	padding: 0.2em 1em;
}

/* example container */
ul.examples li {
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	margin: 0.2em 0em 0.2em 1em;
}

/* example title */
ul.examples li h4 {
	font-weight: normal;
	font-size: 0.75em;
	margin-left: 1em;
}

/* example explaination */
ul.examples li div {
	padding: 1em 2em;
	font-size: 0.75em;
}

/* styles for waiting, ongoing, success, failure, error */
ul.specs li h3, ul.specs li h3 a {
	color: black;
	background-color: #C0C0C0;
}

#list ul.specs li h3
ul.examples li, ul.examples li a {
	color: black;
	background-color: #E0E0E0;
	border-color: #A0A0A0;
}

div.success, div.success a {
	color: #FFFFFF;
	background-color: #65C400;
}

ul.specs li.success h3, ul.specs li.success h3 a {
	color: #FFFFFF;
	background-color: #65C400;
}

ul.examples li.success, ul.examples li.success a {
	color: #3D7700;
	background-color: #DBFFB4;
	border-color: #65C400;
}

div.exception, div.exception a {
	color: #FFFFFF;
	background-color: #C20000;
}

ul.specs li.exception h3, ul.specs li.exception h3 a {
	color: #FFFFFF;
	background-color: #C20000;
}

ul.examples li.exception, ul.examples li.exception a {
	color: #C20000;
	background-color: #FFFBD3;
	border-color: #C20000;
}

div.ongoing, div.ongoing a {
	color: #000000;
	background-color: #FFFF80;
}

ul.specs li.ongoing h3, ul.specs li.ongoing h3 a {
	color: #000000;
	background-color: #FFFF80;
}

ul.examples li.ongoing, ul.examples li.ongoing a {
	color: #000000;
	background-color: #FFFF80;
	border-color: #DDDD00;
}
